../../$RECYCLE.BIN/
        ../../CST/
        ../../CST_Studio_Suite_2019x64/
        ../
        ../../Eclipse/
        ../../Eclipse_Workspace/
        ../../GIT/
        ../../Java/
        ../../Keil/
        ../../Keil_code/
        ../../Labcenter Electronics/
        ../../Love Babbar Dsa/
        ../../MyApplication1/
        ../../Network - Shortcut.lnk
        ../../New folder/
        ../../PROTEUS PROJECTS/
        ../../Password 123.txt
        ../../Proteus/
        ../../Proteus_projects/
        ../../RECORDING/
        ../../SDK/
        ../../Scholarship/
        ../../Study_Material/
        ../../WinRar/
        ../../Windows (C) - Shortcut.lnk
        ../../Workshop_Ground_antenna.cst
        ../../Workshop_Ground_antenna/
        ../../Yagi_Uda_Antenna.cst
        ../../Yagi_Uda_Antenna/
        ../../bend_antenna.cst
        ../../bend_antenna/
        ../../choti_di_wedding/
        ../../nodejs/
        ../../reacttut/
